@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
  --main-bg: #151515;
  --font-color: #eeeeee;
  --playbar-bg: #252525;
  --placeholder: #333333;
  --theme-color: #db273a;
  --menu-bg: #202020;
  --border-color: #000000;
  --active-color: #aaaaaa;
  --volume-popup-bg: #303030;
  --button-hover-color: #666666;
}

* {
  cursor: default;
  user-select: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  color: var(--font-color);
  background: var(--main-bg);
  font-family: roboto;
  animation: fadeIn ease 500ms forwards;
}

.grid-2col-2row {
  width: 100vw;
  display: grid;
  height: calc(100vh - 30px);
  grid-template-rows: auto 80px;
  grid-template-columns: 250px auto;
}

/* Reset ul-list styles */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hide {
  display: none;
}

.button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 6px 10px;
  font-size: 1.5rem;
  border-radius: 2px;
  color: var(--font-color);
  text-transform: uppercase;
  background-color: var(--theme-color);
}

.content-container {
  overflow-y: auto;
  padding: 30px 60px 0;
  box-sizing: border-box;
}

.scrollbar::-webkit-scrollbar {
  width: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--menu-bg);
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 3rem;
  background-color: var(--active-color);
}

.grouper-horiz {
  display: flex;
  align-items: center;
}