/* =============================================================================
** GLOBAL STYLES AND CSS VARIABLES
** =============================================================================
*/
html {
  /* Color */
  /* 7 => dark, light >= 8 ((color[0] + color[2] + color[5]) / 3)*/
  --one-dark: #111;
  --two-dark: #202020;
  --three-dark: #252525;
  --four-dark: #000;
  --five-dark: #333;
  --six-dark: #303030;
  --one-light: #eee;
  --two-light: #aaa;
  --one-red: #db273a;
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  color: var(--one-light);
  background: var(--one-dark);
  animation: fadeIn ease 500ms forwards;
}

.grid-2col-2row {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 80px;
  grid-template-columns: 250px auto;
}
/* Reset ul styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hide {
  display: none;
}
/* =============================================================================
** CSS KEYFRAMES FOR ANIMATIONS
** =============================================================================
*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes expandPlayTrack {
  from {
    top: -3px;
    height: 3px;
  }
  to {
    top: -10px;
    height: 10px;
  }
}
@keyframes retractPlayTrack {
  from {
    top: -8px;
    height: 8px;
  }
  to {
    top: -3px;
    height: 3px;
  }
}
@keyframes retractTrackDuration {
  from {
    top: -50px;
  }
  to {
    top: 10px;
  }
}
@keyframes expandTrackDuration {
  from {
    top: 10px;
  }
  to {
    top: -50px;
  }
}
/* =============================================================================
** SIDE-MENU START
** =============================================================================
*/
.side-menu {
  height: 100%;
  grid-row-end: 3;
  grid-row-start: 1;
  box-sizing: border-box;
  background-color: var(--two-dark);
  border-right: solid 1px var(--four-dark);
}

.side-menu .logo {
  width: 100%;
  height: 60px;
  background-color: var(--five-dark);
}

.side-menu .links-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.side-menu .link {
  user-select: none;
  font-size: 2.4rem;
  margin: 0 0 15px 6px;
  text-decoration: none;
  padding: 5px 0 5px 25px;
  color: var(--one-light);
}

.side-menu .link:hover:not(.active) {
  color: var(--two-light);
}

.side-menu .active {
  margin-left: 0;
  border-left: 6px solid var(--one-red);
}
/* =============================================================================
** SIDE-MENU END
** =============================================================================
*/
/* =============================================================================
** PLAY-BAR START
** =============================================================================
*/
.play-bar {
  width: 100%;
  height: 80px;
  grid-row-end: 3;
  grid-row-start: 2;
  position: relative;
  box-sizing: border-box;
  background: var(--three-dark);
}

.play-bar .controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-bar .controls div {
  display: flex;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
}

.play-bar .btn {
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
}

.play-bar .active {
  color: var(--one-red);
}

.play-bar .btn:active {
  color: var(--two-light);
  border-color: var(--two-light);
}

.play-bar .btn-play,
.play-bar .btn-pause {
  font-size: 5rem;
}

.play-bar .btn-prev,
.play-bar .btn-next {
  font-size: 3.2rem;
}

.play-bar .btn-random,
.play-bar .btn-loop {
  font-size: 2.2rem;
  transition: color 50ms ease;
}

.play-bar .btn-volume {
  font-size: 3rem;
}
/* Requires three levels to override display: block declared previously */
.play-bar div .volume-popup {
  top: -100px;
  right: 10px;
  width: 30px;
  height: 100px;
  display: none;
  border-radius: 5%;
  position: absolute;
  border: 1px solid var(--one-dark);
  background-color: var(--six-dark);
}
/* Arrow at the bottom of volume popup */
.play-bar div .volume-popup::after {
  left: 0;
  content: '';
  bottom: -30px;
  position: absolute;
  border: solid 15px transparent;
  border-top-color: var(--six-dark);
}
/* Show volume knob when icon or popup is hovered */
.play-bar div .volume-popup:hover,
.play-bar .btn-volume:hover + .volume-popup {
  display: block;
}

.play-bar .play-track {
  top: -3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
  position: absolute;
  background-color: var(--one-red);
  border-top: 1px solid var(--four-dark);
  animation: retractPlayTrack 200ms ease forwards;
}

.play-bar .play-track p {
  top: -50px;
  z-index: -1;
  user-select: none;
  position: absolute;
  animation: retractTrackDuration 200ms ease forwards;
}

.play-bar .current {
  left: 20px;
}

.play-bar .end {
  right: 20px;
}
/* Expand play-track when play-bar is hovered */
.play-bar:hover > .play-track {
  animation: expandPlayTrack 200ms ease forwards;
}
/* Expand track duration information when play-bar is hovered */
.play-bar:hover .play-track > p {
  animation: expandTrackDuration 200ms ease forwards;
}
/* =============================================================================
** PLAY-BAR END
** =============================================================================
*/
/* =============================================================================
** MAIN-PAGE START
** =============================================================================
*/
.main-page {
  padding-top: 30px;
  padding-left: 60px;
  box-sizing: border-box;
}
/* =============================================================================
** MAIN-PAGE END
** =============================================================================
*/
