/* =============================================================================
** GLOBAL STYLES AND CSS VARIABLES
** =============================================================================
*/
html {
  /* Color */
  --main-bg: #101010;
  --side-menu-bg: #202020;
  --play-bar-bg: #252525;
  --border-color: #000000;
  --placeholder: #333333;
  --volume-popup-bg: #303030;
  --font-color: #eeeeee;
  --active-color: #aaaaaa;
  --theme-color: #db273a;
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  color: var(--font-color);
  background: var(--main-bg);
  animation: fadeIn ease 500ms forwards;
}

.grid-2col-2row {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 80px;
  grid-template-columns: 250px auto;
}
/* Reset ul styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hide {
  display: none;
}
/* =============================================================================
** CSS KEYFRAMES FOR ANIMATIONS
** =============================================================================
*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes expandPlayTrack {
  from {
    top: -3px;
    height: 3px;
  }
  to {
    top: -10px;
    height: 10px;
  }
}
@keyframes retractPlayTrack {
  from {
    top: -8px;
    height: 8px;
  }
  to {
    top: -3px;
    height: 3px;
  }
}
/* =============================================================================
** SIDE-MENU START
** =============================================================================
*/
.side-menu {
  height: 100%;
  grid-row-end: 3;
  grid-row-start: 1;
  box-sizing: border-box;
  background-color: var(--side-menu-bg);
  border-right: solid 1px var(--border-color);
}

.side-menu .logo {
  width: 100%;
  height: 60px;
  background-color: var(--placeholder);
}

.side-menu .links-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.side-menu .link {
  user-select: none;
  font-size: 2rem;
  margin: 0 0 15px 6px;
  text-decoration: none;
  padding: 10px 0 10px 25px;
  color: var(--font-color);
}

.side-menu .link:hover:not(.active) {
  color: var(--active-color);
}

.side-menu .active {
  margin-left: 0;
  border-left: 6px solid var(--theme-color);
}
/* =============================================================================
** SIDE-MENU END
** =============================================================================
*/
/* =============================================================================
** PLAY-BAR START
** =============================================================================
*/
.play-bar {
  width: 100%;
  height: 80px;
  grid-row-end: 3;
  grid-row-start: 2;
  position: relative;
  box-sizing: border-box;
  background: var(--play-bar-bg);
}

.play-bar .controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-bar .controls div {
  display: flex;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
}

.play-bar .btn {
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
}

.play-bar .active {
  color: var(--theme-color);
}

.play-bar .btn:active {
  color: var(--active-color);
  border-color: var(--active-color);
}

.play-bar .btn-play,
.play-bar .btn-pause {
  font-size: 5rem;
}

.play-bar .btn-play:hover,
.play-bar .btn-pause:hover {
  transform: scale(1.1);
}

.play-bar .btn-prev,
.play-bar .btn-next {
  font-size: 3.4rem;
}

.play-bar .btn-random,
.play-bar .btn-loop {
  font-size: 2.4rem;
}

.play-bar .btn-volume {
  font-size: 3rem;
}
/* Requires three levels to override display: block declared previously */
.play-bar div .volume-popup {
  top: -100px;
  right: 10px;
  width: 30px;
  height: 100px;
  display: none;
  border-radius: 5%;
  position: absolute;
  border: 1px solid var(--main-bg);
  background-color: var(--volume-popup-bg);
}
/* Arrow at the bottom of volume popup */
.play-bar div .volume-popup::after {
  left: 0;
  content: '';
  bottom: -30px;
  position: absolute;
  border: solid 15px transparent;
  border-top-color: var(--volume-popup-bg);
}
/* Show volume knob when icon or popup is hovered */
.play-bar div .volume-popup:hover,
.play-bar .btn-volume:hover + .volume-popup {
  display: block;
}

.play-bar .play-track {
  top: -3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
  position: absolute;
  background-color: var(--theme-color);
  border-top: 1px solid var(--border-color);
  animation: retractPlayTrack 200ms ease forwards;
}

.play-bar .play-track p {
  top: -50px;
  z-index: -1;
  user-select: none;
  position: absolute;
}

.play-bar .current {
  left: 20px;
}

.play-bar .end {
  right: 20px;
}
/* Expand play-track when play-bar is hovered */
.play-bar:hover > .play-track {
  animation: expandPlayTrack 200ms ease forwards;
}
/* =============================================================================
** PLAY-BAR END
** =============================================================================
*/
/* =============================================================================
** MAIN-PAGE START
** =============================================================================
*/
.main-page {
  padding-top: 30px;
  padding-left: 60px;
  box-sizing: border-box;
}
/* =============================================================================
** MAIN-PAGE END
** =============================================================================
*/
